{% extends 'base.html' %}
{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">

                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Название:</td>
                            <td>{{ object.name }}</td>
                        </tr>
                        <tr>
                            <td>Тема сообщения:</td>
                            <td>{{ object.mail_title }}</td>
                        </tr>
                        <tr>
                            <td>Кому:</td>
                            <td><!-- {{ clients }}-->not yet</td>
                        </tr>
                        <tr>
                            <td>Старт рассылки:</td>
                            <td>{{ object.send_start }}</td>
                        </tr>
                        <tr>
                            <td>Периодичность:</td>
                            <td>{{ object.send_period }}</td>
                        </tr>
                        <tr>
                            <td>Завершение рассылки:</td>
                            <td>{{ object.send_finish }}</td>
                        </tr>
                        <tr>
                            <td>Текущий статус:</td>
                            <td>{{ object.send_status }}</td>
                        </tr>
                    </table>

                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <!-- {% if perms.service.set_is_activated %}
                            <a href="{% url 'sheduler:mail_mod_edit' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-primary">Редактировать</a>
                        {% else %}-->

                            <a href="{% url 'mailing:edit_mailing' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-primary">Редактировать</a>
                            <a href="{% url 'mailing:delete_mailing' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-danger">Удалить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-6">
            <div class="card">

                <div class="card-body">
                    {% for log in logs %}
                        <p>{{ log }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>-->
    </div>
</div>
{% endblock %}