{% extends 'base.html' %}
{% block content %}
{% load media_tag %}

{% if request.user.is_superuser or request.user|has_group:"manager" %}
<h2 class="display-2 text-center mb-5">Мои сообщения</h2>
<div class="row">
    <div class="col-2 mb-5">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <a class="btn btn-warning" style="width: 15rem;"
               href="{% url 'mailing:create_message' %}">Создать сообщение</a>
        </div>
    </div>
</div>
{% else %}
<h2 class="display-2 text-center mb-5">Сообщения</h2>
{% endif %}

<div class="table-responsive">
    <table class="table text-center">
        <thead>
        <tr>
            <th scope="col">Тема</th>
            <th scope="col">Текст</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object.title }}</td>
            <td>{{ object.text }}</td>

            <td>
                <a class="btn btn-info" href="{% url 'mailing:edit_message' object.pk %}"
                   role="button">Редактировать</a>
            </td>
            <td>
                <a class="btn btn-danger" href="{% url 'mailing:delete_message' object.pk %}"
                   role="button">Удалить</a>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}